<div id="home-content" class="row h100" ng-controller="HomeController">
	<div class="col-md-12 h50">
		<div class="logo"><span class="glyphicon glyphicon-tint"></span></div>
		<span class="title">Open Source Aquatics</span>
	</div>
	<div class="col-md-12 h50 info-group">
		<div class="row h50">
			<div class="col-xs-4 info"><img src="images/bulb-on.png" width="80"></div>
			<div class="col-xs-4 info"><span class="temp">77<sup>°<span>F</span></sup></span></div>
			<div class="col-xs-4 info"></div>
		</div>
		<div class="row h50">
			<div class="col-xs-4 info"></div>
			<div class="col-xs-4 info"></div>
			<div class="col-xs-4 info"></div>
		</div>
	</div>
</div>