body {
	background: url(../images/blue-bg.png) -2px 40px;
	background-size: 300%;
	padding-top: 40px;
}

html, body,
.h100 {
	height: 100%;
}



.h50 {
	height: 50%;
}

header {
	background: #000;
	color: #fff;
	position: absolute;
	top: 0;left: 0;
	height: 40px;
	width: 100%;
	z-index: 100;
}

.navbar-toggle {
	margin-top: 4px;
}

.icon-bar {
	background-color: #FFFFFF;
}

header h1 {text-align: center;}

#off-canvas {
	background: rgba(204,204,204, .9);
	
	border-right: 1px solid rgba(0,0,0,.5);
	width: 120px;
	position: fixed;
	height: 100%;
	z-index: 101;
	text-align: center;
	left: -120px;
	top: 0;
	-webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

a[href="#/settings"] {
	font-size: 6rem;
	color: #000;
	position: relative;
	top: 10px;
}

#off-canvas .blur {

}

#off-canvas.show {
	left:0;
}

#off-canvas a {
	display: block;
	border-bottom: 1px solid #000;
	padding: .5rem 0;
}


#home-content {
	
}


#home-content .logo {
	height: 100px;
	width: 100px;
	border: 4px solid #fff;
	border-radius: 100px;
	display: block;
	position: absolute;
	left: 50%;
	top: 10%;
	margin-left: -50px;
	box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.9), 0px 0px 5px 2px rgba(0, 0, 0, 0.9);
}

#home-content .logo span{
	font-size: 6rem;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -3rem;
	margin-top: -3rem;
}

#home-content .title {
	color: #fff;
	display: block;
	font-size: 3rem;
	position: relative;
	text-align: center;
	top: 55%;
	margin: 0 auto;
}

#home-content .row {
	/*background: #b9c9c9;*/
	background: rgba(185,201,201,.5);
	/*position: absolute;
	bottom: 0;
	height: 60%;
	width: 100%;*/
}

#home-content ul {
	list-style-type: none;
	padding: 0;margin:0;
	text-align: center;
}

#home-content ul li {
	width: 100px;
	height: 100px;
	display: block;
	background: rgba(255,255,255,.85);
}

.info-group {
	border: 4px solid rgba(185,201,201,.5);
	border-radius: 4px 4px 0 0;
	box-shadow: 0 0 0 1px rgba(255,255,255,.5);
	margin: 0 .5rem;
}

#home-content .info {
	height: 96.99%;
	background: rgba(255,255,255,.80);
	border-radius: 4px;
	border: 1px solid white;
	box-shadow: inset 0 0 2px 2px rgba(185, 201, 201, .75), 1px 1px 2px 0px rgba(0, 0, 0, .5);
	width: 32.33%;
	margin: .5% .5%;
	display: inline-flex;
}

#home-content .info img {
	display: block;
	margin: auto; 
}

#home-content .info .temp {
	font-size: 7rem;
	margin: auto; 
}

#home-content .info .temp sup {
	font-size: 4rem;
	position: relative;
}

#home-content .info .temp sup span {
	border-top: 1px solid black;
	font-size: 2rem;
	position: absolute;
	top: 2.25rem;
	left: 1px;
	display: block;
	line-height: 2.5rem;
}

#outlets {

}

#outlets ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#outlets .row {
	background: rgba(255,255,255,.75);
	border-bottom: 1px solid #888;
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, .8);
	padding: 1rem .5rem;
}

#outlets .row .label {
	color: #000;
	font-size: 3rem;
	line-height: 4rem;
}

#outlets ul li * {
	display: inline-block;
}

#outlets ul li outlet {
	width: 100%;
	position: relative;
}

#outlets ul li button {
	position: absolute;
	top:20px;
}

#outlets .on-off {
	border-radius: 20px;
	height: 40px;
}

#outlets ul li .edit {
	right: 1rem;
}

#outlets ul li h2 {
	width: 100%;
	text-align: center;
}

.outlet-edit {
	padding: 1rem;
}