<div class="pins-edit">
	<h2>{{ outlet.label }}</h2>
	<span>ON:</span><timepicker ng-model='outlet.time.on.string' ng-change="changed()"></timepicker>
	<span>OFF:</span><timepicker ng-model='outlet.time.off.string'></timepicker>

	<div class="form-group">
		<label for="outletLabel">Change Label:</label>
		<input type="text" class="form-control" id="outletLabel" ng-model="outlet.label" value='{{ outlet.label}}'>
	</div>
	<button class="btn btn-primary" ng-click="save(index)">Save &amp; Close</button>
</div>